.partial[data-partial="organisms/app"],
.partial[data-partial^="organisms/app/"] {
  background: #000;

  .app {
    &__sidebar {
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
      height: 100%;
    }

    &__container {
      cursor: pointer;
      background: #111;
    }
  }
}
