.partial[data-partial="organisms/dialog/unit-view"] {
  color: $color_green;
  font-size: 11px;
  width: 240px;
  height: 200px;
  visibility: hidden;

  &.js--visible {
    visibility: visible;
  }

  .unit-view {
    /* empty */
  }
}
