{{#mixin "organisms/dialog" this partial-name="organisms/dialog/info-view" controller-name="./partials/organisms/dialog/InfoView" title="Info" }}
  {{#content "content"}}


    {{#mixin "molecules/tab-container" class="tab-container--dialog" hide-tabs=false }}

      {{#content "content"}}


        <div data-key="default" data-title="Default">
          <p>Ac, nisl torquent sunt eu necessitatibus dui iste scelerisque aspernatur posuere nullam accusamus? Dolor quo magni at facilisis ducimus hic odio, iusto? Tenetur nisi tenetur occaecati pretium cupidatat. Maecenas molestie.</p>

<p>Quisquam dolorum habitant repudiandae, dolores, mus! Commodo deleniti risus, repudiandae, ipsum, nullam! Tempor, suscipit porta unde varius porttitor atque voluptas lorem tempore mollit numquam sapiente, mollitia consectetuer nam sit fugiat.</p>
        </div>

        <div data-key="storage" data-title="Storage">
          Info View<br /> Zeigt Informationen über das aktuell ausgewählte.
        </div>

        <div data-key="resource" data-title="Resource">
          Info View<br /> Zeigt Informationen über das aktuell ausgewählte.
        </div>

        <div data-key="vehicle" data-title="Vehicle">
          Info View<br /> Zeigt Informationen über das aktuell ausgewählte.
        </div>


      {{/content}}

    {{/mixin}}
  {{/content}}
{{/mixin}}
