{{#mixin "organisms/dialog" this partial-name="organisms/dialog/info-view" controller-name="./partials/organisms/dialog/InfoView" title=false }}
  {{#content "content"}}


    {{#mixin "molecules/tab-container" class="tab-container--dialog tab-container--scroll" hide-tabs=false auto-open-name="default" }}

      {{#content "content"}}

        <div data-name="default" data-title="General Info">

          {{{mixin "molecules/interface/general-info" target=../target}}}

        </div>

        <div data-name="log" data-title="Log">
          {{{mixin "molecules/interface/log" target=../target}}}
        </div>

      {{/content}}

    {{/mixin}}
  {{/content}}
{{/mixin}}
