@import "../link.pcss";
.partial[data-partial="atoms/link/image"] {
  position: relative;
  display: inline-block;
  .partial[data-partial*="atoms/headline"] {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 60%;
    margin: auto;
    text-align: center;
  }
}
