---
content:
  rows:
    - head: true
      cells: ['Cell 1.', 'Cell 1.2.']
    - cells: ['Cell 1.', 'Cell 1.2.']
    - cells: ['Cell 2.1.', 'Cell 2.2.']
    - cells: ['Cell 3.1.', 'Cell 3.2.']
---
<div class="partial" data-partial="atoms/table"{{#if hook}} data-hook="{{{hook}}}"{{/if}}>
  {{{mixin "atoms/table/content" content}}}
</div>
