---
rows:
  - head: true
    cells: ['Cell 1.', 'Cell 1.2.']
  - cells: ['Cell 1.', 'Cell 1.2.']
  - cells: ['Cell 2.1.', 'Cell 2.2.']
  - cells: ['Cell 3.1.', 'Cell 3.2.']
---
<div class="partial" data-partial="atoms/table">
  {{#each rows}}
    <div class="table__row">
      {{#each cells}}
        <div class="{{#if ../head}}table__head{{else}}table__cell{{/if}}">
          <span>
            {{{this}}}
          </span>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
