.partial[data-partial="atoms/form"] {
  > div {
    line-height: 1;
    margin: 3px;
    padding: 3px;
    font-size: 11px;
    color: $color_green;

    label {
      display: inline-block;
      min-width: 60px;
    }

    > * {
      vertical-align: middle;
    }
  }
}
