.partial[data-partial="molecules/interface/unit"] {
  .unit-view {
    &__depot {
      &__vehicles {
        ul {
          li {
            span {
            }
            a {
            }
          }
        }
      }
    }
  }
}
