.partial[data-partial="molecules/sidebar"] {
  border: solid $dialog_borderColor;
  background: $dialog_backgroundColor;
  border-width: 0 4px;
  max-width: 256px;
  box-sizing: content-box;

  /* .map-view__time {
    font-size: 11px;
    color: $color_green;
    flex: 0 0;
    padding: 2px 5px;
    padding-bottom: 6px;
    text-align: center;
    font-weight: 500;
    background: $dialog_borderColor;
    line-height: 1;
  } */
}
