/* Variables */

@import "../../generated/pcss/grid/default.pcss";
@import "./base/colors.pcss";
@import "./base/mixins.pcss";
@import "./fonts.pcss";

/* SVG-Symbols */

@import "../../generated/svg-symbols/default.pcss";
@import "../../generated/svg-symbols/icon.pcss";

/* Partials */

@import "./partials.critical.pcss";

/* Defaults */

img[data-preload] {
  display: none;
}
