/* Documentation */

@import "gp-boilerplate-documentation/critical.pcss";

/* Variables */

@import "../../generated/pcss/grid/default.pcss";
@import "../../generated/svg-symbols/default.pcss";
@import "./base/colors.pcss";
@import "./base/mixins.pcss";
@import "./fonts.pcss";

/* Partials */

@import "./partials.critical.pcss";
