---
timewarp-button:
  title: 'Skip 1 min'
---
{{#mixin "molecules/interface" this partial-name="molecules/interface/map-view" controller-name="./partials/molecules/interface/MapView"}}
  {{#content "content"}}
      <div class="map-view__time">
        <span data-hook="mapViewTime">00:00</span>
        <div class="map-view__controls">
          {{{mixin "atoms/button" timewarp-button class="button--small" hook="timewarpButton" }}}
        </div>
      </div>
      <div class="map-view__canvas">
        <canvas data-hook="mapViewCanvas"></canvas>
      </div>
  {{/content}}
{{/mixin}}
