---
docs:
  refs:
    class:
      type: 'string'
      required: false
    text:
      type: 'string'
      required: true
data:
  class: #
  text: 'Headline H1'
---
<h1 class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="atoms/headline/h1">{{{text}}}</h1>
