---
docs:
  refs:
    class:
      type: 'string'
      required: false
    text:
      type: 'string'
      required: true
data:
  class: #
  text: 'Headline H5'
---
<h5 class="partial{{#if class}} {{{class}}}{{/if}}" data-partial="atoms/headline/h5">{{{text}}}</h5>
