---
id: 'storage-item'
name: 'Storage Item'
---

<li>
  <span>{{{name}}}</span>
  {{#if value}}<span>{{{value}}}</span>{{/if}}
  <a data-id="{{{id}}}" data-hook="unitStorageItemDiscard">Discard</a>
</li>
